.blogListwrapper {
	width: 100%;
	/* padding: var(--spacing-base); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	gap: var(--spacing-base);

}

.blogList {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-base);
	margin-bottom: calc(var(--spacing-large) * 8);
}
