.genericButton {
  background-color: var(--button-color);
  color: var(--primary-color);
  padding: var(--spacing-small) var(--spacing-base);
  border-radius: var(--border-radius-base);
  border: none;  
}

.genericButton:hover {
	background-color: var(--hover-color);	
}
.genericButton:active {
	background-color: var(--active-color);	
}