.blogListItem {
	grid-column: span 2;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	background-color: white;
	transition: transform 300ms;
	transform-origin: center; /* Ensure scaling happens from the center */
	will-change: transform; /* Optimize for the scale animations */
}

.blogListItem:hover {
	transform: scale(1.008);
}

.blogListItem__contentWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
	padding: var(--spacing-base) 0 var(--spacing-base) 0;
}

.blogListItem h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: var(--font-weight-bold);
	font-size: 1.2rem;
}

.blogContent {
	/* Push date and author to bottom */
	margin-bottom: auto;
	/* To clamp the content to two lines */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2; /* For compatibility */
	overflow: hidden;
	text-overflow: ellipsis;
}

.dateAndAuthorWrapper {
	display: flex;
	gap: var(--spacing-base);
	justify-content: space-between;
	align-items: end;
	font-size: 0.8rem;
}

.author {
	display: flex;
	align-items: center;
	gap: 3px;
	font-weight: var(--font-weight-bold);
}

.blogListItem img {
	/* width: clamp(100px, 35%, 200px); */
	border-radius: var(--border-radius-base);
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: top;
	transition: transform 300ms;
}

.readMoreParagraph {
	margin-top: auto;
	color: var(--active-color);
	transition: 300ms ease;
}

/* First and 11th card large styles */
.blogListItem:nth-child(1),
.blogListItem:nth-child(11) {
	padding-top: var(--spacing-xlarge);
	padding-bottom: var(--spacing-xlarge);
	grid-column: span 6;
	grid-row: span 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-base);	
}

.blogListItem:nth-child(1) h2,
.blogListItem:nth-child(11) h2 {
	font-size: 2rem;
}

.blogListItem:nth-child(1) .blogListItem__contentWrapper,
.blogListItem:nth-child(11) .blogListItem__contentWrapper {
	padding: 0;
}

.blogListItem:nth-child(1) .blogContent,
.blogListItem:nth-child(11) .blogContent {
	-webkit-line-clamp: 4;
	line-clamp: 4; 
}

.blogListItem:nth-child(1) img,
.blogListItem:nth-child(11) img {
	height: 100%;	
}


@media screen and (max-width: 768px) {
	.blogListItem {
		grid-column: span 6;
		border-radius: 5px;	
	}

	.blogListItem img {
		height: 100%;
		aspect-ratio: 1/1;
	}

	.blogListItem:nth-child(1),
	.blogListItem:nth-child(11) {
		grid-template-columns: 1fr;
	}


}
