.blogListItem {
	display: flex;
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius-base);
	overflow: hidden;
	padding: var(--spacing-base);
	box-shadow: 2px 2px 8px rgb(192, 200, 202);
}

.blogListItem__contentWrapper {
	display: flex;
	flex-direction: column;	
	gap: var(--spacing-small);
	padding: var(--spacing-base) var(--spacing-large);
	padding-right: 3rem; 
}

.blogListItem__contentWrapper div {
	margin-top: auto;
}


.blogListItem h2 {
	font-weight: var(--font-weight-bold);
}

.blogContent {
	/* To clamp the content to two lines */
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2; /* For compatibility */
	overflow: hidden;
	text-overflow: ellipsis;
}

.dateAndAuthorWrapper {
	display: flex;
	gap: var(--spacing-base);
}

.author {
	display: flex;
	align-items: center;
	gap: 3px;
	font-weight: var(--font-weight-bold);
}

.blogListItem img {
	width: clamp(100px, 25%, 200px);	
}

@media screen and (max-width: 768px) {

	.blogListItem img {
		width: 100%;	
	}
	
	.blogListItem {
		flex-direction: column-reverse;
		border: none;
		border-bottom: 2px solid var(--secondary-color);
		border-radius: 0;

	}
	
	.blogListItem__contentWrapper {
		padding: var(--spacing-base) 0;
	}

}