.blogListItem {
	display: flex;
	align-items: center;
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius-base);
}

.blogListItem__contentWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
	padding: var(--spacing-base) var(--spacing-large);
}

.blogListItem h2 {
	font-weight: var(--font-weight-bold);
}

.blogContent {
	/* To clamp the content to two lines */
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2; /* For compatibility */
	overflow: hidden;
	text-overflow: ellipsis;
}

.dateAndAuthorWrapper {
	display: flex;
	gap: var(--spacing-base);
}

.author {
	display: flex;
	align-items: center;
	gap: 3px;
	font-weight: var(--font-weight-bold);
}

.blogListItem img {
	width: clamp(100px, 25%, 400px);	
}