.addBlogpostForm {	
	width: 100%;
	padding: 5rem var(--spacing-small);
	display: flex;
	flex-direction: column;
	align-items: center;	
	color: var(--primary-color);
	background: var(--secondary-color);
}

.addBlogpostForm label {
	width: 100%;
	max-width: 25rem;
	margin-bottom: 0.25rem;
	display: flex;
	justify-content: flex-start;
}

/* Color label of the focused input */
.addBlogpostForm label:has(+input:focus),
.addBlogpostForm label:has(+textarea:focus) {
	color: var(--button-color);
}

.addBlogpostForm input, 
.addBlogpostForm textarea {
	width: 100%;	
	max-width: 25rem;
	margin-bottom: 3rem;
	padding: 5px;
}

.addBlogpostForm button {
	width: 100%;
	max-width: 25rem;
	border: none;
	border-radius: var(--border-radius-base);
	padding: var(--spacing-small);
	font-weight: 600;
	color: var(--primary-color);
	background: var(--button-color);
	cursor: pointer;
}

/* Delayed slide down effect on form appearance */
@keyframes slideDown {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.addBlogpostForm label,
.addBlogpostForm input,
.addBlogpostForm textarea, 
.addBlogpostForm button {
	animation: slideDown 0.5s ease-in-out backwards;
}

.addBlogpostForm label:nth-child(1),
.addBlogpostForm input:nth-child(2) {
	animation-delay: 0.2s;
}

.addBlogpostForm label:nth-child(3),
.addBlogpostForm input:nth-child(4) {
	animation-delay: 0.4s;
}

.addBlogpostForm label:nth-child(5),
.addBlogpostForm textarea:nth-child(6) {
	animation-delay: 0.6s;
}

.addBlogpostForm label:nth-child(7),
.addBlogpostForm input:nth-child(8) {
	animation-delay: 0.8s;
}

.addBlogpostForm button {
	animation-delay: 1s;
}