.home__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-small) var(--spacing-xlarge);
	background-color: var(--secondary-color);
}

.logoContainer {
	display: flex;
	align-items: center;
	gap: var(--spacing-large);
}

.logoContainer img {
	height: calc(var(--spacing-large) * 4);
	aspect-ratio: 1 / 1;
	border-radius: var(--border-radius-base);
}

.heading {
	font-size: 3rem;
	font-weight: var(--font-weight-bold);
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: var(--spacing-large);
}

.navLinks {
	display: flex;
	gap: var(--spacing-large);
	font-weight: var(--font-weight-light);
}

.shareButton {
	display: flex;
	align-items: center;
	gap: var(--spacing-small);
	background-color: var(--button-color);
}

