


.home__header {
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-base) var(--spacing-xlarge);
	background-color: var(--secondary-color);	
}

.logoContainer {
	display: flex;
	align-items: center;
	gap: var(--spacing-large);
}

.logoContainer h1 {
	/* Push heading down */
	transform: translateY(5px);
	font-family: 'Outward-block';
}

.logoContainer img {
	height: calc(var(--spacing-large) * 4);
	aspect-ratio: 1 / 1;
	border-radius: var(--border-radius-base);
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: var(--spacing-large);
}

.navLinks {
	display: flex;
	gap: var(--spacing-large);
	font-weight: var(--font-weight-light);
	color: var(--primary-color);
}

